@use '../../styles/base' as *;

.pageBanner {
    background-color: $white;
    position: relative;
    box-shadow: 0 2px 8px #00000012 !important;
    position: relative;

    &__titleBar {
        padding: 12px 30px;
    }

    &__breadcrumbs {
        font-size: 13px;
        color: $mws-navy;
        padding: 0 30px;

        &>*+*::before {
            content: '/';
            color: $mws-navy;
            display: inline-block;
            padding: 0 8px;
        }

        a {
            color: $mws-navy;

            &:hover {
                color: $mws-blue;
            }
        }
    }

    &__breadcrumbsContainer {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }

    &--noShadow {
        box-shadow: none !important;
    }
}