@use '../../styles/base' as *;

.titleText {
    color: $mws-navy;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.subtitleText {
    color: $mws-navy;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
}

.content {
    margin-top: 4px;
}