@use '../../styles/base' as *;

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 2px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $mws-stroke !important;
  accent-color: $mws-teal !important;
}

.label {
  color: $mws-navy;
  font-size: 15px;
  line-height: 20px;
}

.label:hover {
  color: $mws-navy;
}