@use '../../styles/base' as *;

.accordionPanel {
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 6px;
  color: $mws-navy;

  &:hover {
    border-color: $mws-teal;
  }

  &__header {
    width: 100%;
  }

  &__body {
    padding: 0 20px 20px;
    display: none;

    &.isOpen {
      display: block;
    }
  }

  &__title {
    margin: 8px 0 4px;
    font-size: 18px;
    font-weight: 600;
  }

  &__subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }

  &__label {
    border: 2px solid $mws-navy;
    background-color: $white;
    color: $mws-navy;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
  }

  &__toggle {
    background-color: transparent;
    border: 2px solid $mws-navy;
    color: $mws-navy;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    transition: all 0.2s linear;
  }

  &__trigger {
    border: none;
    cursor: pointer;
    background: none;
    display: flex;
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
    text-align: left;

    &.defaultCursor {
      cursor: default;
    }

    &.isOpen {
      .accordionPanel__toggle {
        transform: rotate(-180deg);
      }
    }
  }
}

/* =====================================================
   LEGACY VARIANT (pre-rebrand gray style)
   ===================================================== */

.legacy {
  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  color: $mws-navy;

  &:hover {
    border-color: $mwe-green;
  }

  .accordionPanel__label {
    border: 1px solid $gray-3;
    background-color: $card-background-light;
    color: $mws-navy;
  }

  .accordionPanel__toggle {
    background-color: #d4d4d4;
    border: none;
    color: #fff;
  }
}
