$red: #E74C3C;
$blue: #3498DB;
$orange: #FF8C00;
$purple: #9B59B6;
$green: #008000;
$black: #000;

.fileIcon {
    font-family: FabricMDL2Icons;
}

.red {
    color: $red;
}

.blue {
    color: $blue;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.purple {
    color: $purple;
}

.black {
    color: $black;
}