@use '../../styles/base' as *;

$dashColor: #b9b9b9;

.modal {
    min-width: 55%;
    max-width: 1200px;
    max-height: 95%;
}

.modalTrigger {
    color: $mwe-green;
    text-decoration: none;
    font-size: var(--trigger-font-size);
    font-weight: 600;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.modalBody {
    margin-top: 20px;

    table {
        th, td {
            padding: 12px;
        }

        tbody {
            td {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.row {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding: 6px 10px;
    display: grid;

    & > * {
        font-size: 14px;
        line-height: 20px;

        &:first-child {
            font-weight: 600;
        }

        &:not(:first-child) {
            text-align: center;
        }
    }
}

.grid {
    border-bottom: 1px solid $gray-button-hover;

    & > *:nth-child(even) {
        background-color: $gray-1;
    }

    & > * {
        border-top: 1px solid $gray-button-hover;
    }
}

.dash {
    color: $dashColor;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    padding: 0 10px;
}

.checkIcon {
    width: 28px;
    display: inline-block;
}